# Node.js
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Dependency directories
jspm_packages/

# TypeScript
*.tsbuildinfo

# Build output
dist/
out/

# IDEs and editors
.vscode/
.idea/
*.swp

# System files
.DS_Store
Thumbs.db
