.profileContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  background-color: gray;
}


.profile {
  max-width: 600px;
  max-height: 600px;
  padding: 10rem;
  background-color: beige;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center ;
  gap: 10px;
  border-radius: 10px;
}

.profile img {
  border-radius: 40%;
  max-width: 150px;
  max-height: 150px;
  object-fit: cover;
}


.profile hr {
  width: 100%;
  border-color: blueviolet;
}

.btn {
 color: white;
 text-align: center;
 padding: 20px 50px;
 border-radius: 10px;
 background-image: linear-gradient(to bottom, blue, blueviolet);
}

.btn a {
  text-decoration: none;
  color: white;
}


.titleWrapper {
  color: blueviolet;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titleWrapper button {
  background-color: #2ecc71;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}