@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,500&display=swap");
/* Global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
} /* Reset browser styles */

/* Criação de variáveis padrões */
:root {
  --primary-color: #ed4d1b;
  --secondary-color: #ff9a3c;
  --text-black: #000;
}

* button {
  cursor: pointer;
  color: #000;
  text-align: center;
  text-transform: uppercase;
  background-color: #ed4d1b;
  border: 2px solid black;
  -webkit-box-shadow: 4px 4px 6px 0px #1e1e1e;
  -moz-box-shadow: 4px 4px 6px 0px #1e1e1e;
  box-shadow: 4px 4px 6px 0px #1e1e1e;
  padding: 13px;
  width: 200px;
  height: 48px;
}

* span {
  color: var(--primary-color);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  margin: 1rem;
}

.links {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 1rem 0;
  gap: 1rem;
}

.links a {
  color: var(--text-black);
  text-decoration: none;
}

/* Hero-section */

.hero {
  margin: 1rem;
  text-align: left;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 16rem;
}

.hero h1 {
  font-size: 48px;
  font-weight: 900;
  padding-top: 2rem;
}

.hero p {
  padding-top: 2rem;
  font-size: 20px;
  line-height: 22px;
}

.hero button {
  margin-top: 2rem;
}

.hero img {
  height: 220px;
  width: 100%;
}

/* Courses section */

.courses {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 16px;
  padding-bottom: 8rem;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1.25rem;
  margin-top: -8rem;
  margin-bottom: 4rem;
}

.cardCourses {
  background-color: var(--primary-color);
  max-width: 17rem;
  padding: 2rem 0 0 2rem;
  border: 2px solid black;
  -webkit-box-shadow: 4px 4px 6px 0px #1e1e1e;
  -moz-box-shadow: 4px 4px 6px 0px #1e1e1e;
  max-width: 17rem;
  padding: 2rem 0 0 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 20px;
}

.cardCourses img {
  width: 48px;
  height: 48px;
}

.cardCourses p {
  font-size: 16px;
}

.cardCourses a {
  display: block;
  margin: 3rem 0 0 auto;
  width: fit-content;
}

.cardCourses:nth-child(2n) {
  align-self: end;
  background-color: var(--secondary-color);
}

div > h1 {
  font-size: 40px;
  margin-bottom: 32px;
}

.moreContent {
  width: 281px;
  height: 127px;
  padding-bottom: 16rem;
}

.text-align {
  text-align: center;
}

.contact {
  display: flex;
  flex-direction: column;
  margin: 0px 16px;
}

.textContent {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px 24px;
}

.textContent > img {
  width: 106px;
  height: 53px;
}

.navigation {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 16px 24px;
}

form {
  padding: 16px 24px;
}

form h3 {
  font-size: 24px;
}

.emailInput {
  background-color: white;
  border: 2px solid black;
  -webkit-box-shadow: 4px 4px 6px 0px #1e1e1e;
  -moz-box-shadow: 4px 4px 6px 0px #1e1e1e;
  box-shadow: 4px 4px 6px 0px #1e1e1e;
  padding: 13px;
  width: 272px;
  height: 48px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.header,
.hero,
.courses,
.contact {
  border-left: 1px solid;
  border-right: 1px solid;
  border-bottom: 1px solid;
}
