* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: #FAF9F6;
}

body{
  /* Visão total da tela */
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;

}

.container{
  border-radius: 10px;
  height: 37rem;
  width: 34rem;
  padding: 180px 24px;
  background-color: #BCBBB9;
}

h3 {
  text-align: center;
  font-size: 40px;
  background-color: transparent;
}

.players {
  border: 2px solid red;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  margin: 8px;
  background-color: transparent;
}

.players input{
  all: unset; /* Remove a estilização padrão de todos os input */
  text-align: center;
  padding: 12px;
  display: flex; 
  background-color: #E1E0DD;
  border-radius: 8px;
}

.buttons{
  border: 2px solid purple;
  margin: 30px 8px;
  padding: 20px;
  display: flex;
  justify-content: center;
  gap: 10px ;
  background-color: transparent;
}

.buttons button {
  padding: 12px;
  border-radius: 8px;
  background-color: #E2CCFF; /* Remove a cor acinzentada*/
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons button img{
  background-color: #E2CCFF;
}

.buttons button a img{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background-color: #E2CCFF ;
}